form {
  margin-top: 30px;
  width: 100%;
}
h1 {
  color: #1b4c22;
  margin-bottom: 0;
}
h2 {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  text-align: left;
}
li:first-letter {
  text-transform: capitalize;
}
.card-title {
  text-align: center;
}
.card-body {
  padding: 0;
  text-align: center;
}
.card-text {
  margin-bottom: 0;
}
.card-text-main {
  margin-bottom: 0;
}
.future {
  margin-top: 55px;
}
#time {
  font-size: 28px;
  font-weight: bold;
  color: #da9402;
  text-align: center;
}
#icon {
  margin: 0 auto;
}
.days {
  padding: 10px;
  margin-top: 30px;
  line-height: 1.3;
  text-align: center;
}
.temp {
  font-size: 15px;
  color: gray;
}
a {
  text-decoration: none;
}
.kharkiv {
  height: 300px;
  width: 500px;
}
#bottom {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}
.active {
  color: rgb(44, 37, 37);
  cursor: default;
}
