form {
  margin-top: 30px;
  width: 100%;
}
h1 {
  color: #1b4c22;
}

ul {
  list-style-type: none;
}
.card-title {
  text-align: center;
}
.future {
  margin-top: 55px;
}
#time {
  font-size: 28px;
  font-weight: bold;
  color: #da9402;
  text-align: center;
}
.days {
  padding: 10px;
  margin-top: 30px;
  line-height: 1.3;
  text-align: center;
}
.temp {
  font-size: 15px;
  color: gray;
}
a {
  text-decoration: none;
}
.kharkiv {
  height: 300px;
  width: 500px;
}
