form {
  margin-top: 30px;
  width: 100%;
}
h1 {
  color: #0b062c;
  margin-bottom: 0;
  font-style: italic;
}
h2 {
  margin-bottom: 0;
  font-style: italic;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  text-align: left;
}
li:first-letter {
  text-transform: capitalize;
  margin-bottom: 0;
  text-align: left;
}
li:first-letter {
  text-transform: capitalize;
}
.card-title {
  text-align: center;
}
.card-body {
  padding: 0;
  text-align: center;
}
.card-text {
  margin-bottom: 0;
}
.card-text-main {
  margin-bottom: 0;
}
.card-body {
  padding: 0;
  text-align: center;
}
.card-text {
  margin-bottom: 0;
}
.card-text-main {
  margin-bottom: 0;
}
#time {
  font-size: 28px;
  font-weight: bold;
  color: #da9402;
  text-align: center;
}
#icon {
  margin: 0 auto;
}
.weather-forecast-temperatures,
.temp {
  font-size: 15px;
  color: gray;
}
a {
  text-decoration: none;
}
.kharkiv {
  height: 300px;
  width: 500px;
}
#bottom {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}
.active {
  color: rgb(44, 37, 37);
  cursor: default;
}
img {
  display: block;
}
.weather-forecast {
  text-align: center;
}
#forecast-icon {
  display: inline;
}
.one-day-block {
  margin-top: 30px;
}
.weather-forecast-day {
  color: #da9402;
  font-style: italic;
}
#description {
  color: #0b062c;
  font-style: italic;
  font-weight: 500;
}
